<div class="alert alert-secondary mt-4" role="alert">

    <div class="col-sm-4">
        <label class="panel-title">Definition</label>
        <button @onclick="e => this.Collapsed = !this.Collapsed">
            @( this.Collapsed ? "+" : "-")
        </button>
    </div>

    <div class="panel panel-default border @(Collapsed? "collapse": "" ) ">
        <div class="panel-heading alert-primary">
            <span class="oi oi-book mr-2" aria-hidden="true"></span>
            <strong>@Title</strong>
            <p>This application aims to gues a mushroom is edible or not, by using its 22 specs.</p>
            <p>It uses the dataset taken from <a href="https://www.kaggle.com/uciml/mushroom-classification" target="_blank">Kaggle Mushroom Classification</a> More detailed description may be found in the link.</p>
            <br />
            <p>The Aplication uses neural network of simple 1 layer with stocastic gradient descent. With an aim of demonstrating simple deep learning process.</p>


        </div>
        <table class="table">
            <thead>
                <tr>                   
                    <th scope="col">cap-shape</th>
                    <th scope="col">cap-surface</th>
                    <th scope="col">cap-color</th>
                    <th scope="col">bruises</th>
                    <th scope="col">odor</th>
                    <th scope="col">.....</th>
                    <th scope="col">habitat</th>
                    <th scope="col">class(label)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">cap-shape</td>
                    <td scope="col">cap-surface</td>
                    <td scope="col">cap-color</td>
                    <td scope="col">bruises</td>
                    <td scope="col">odor</td>
                    <td scope="col">.....</td>
                    <td scope="col">habitat</td>
                    <td scope="col">class(label)</td>
                </tr>
                <tr>
                    <td scope="col">cap-shape</td>
                    <td scope="col">cap-surface</td>
                    <td scope="col">cap-color</td>
                    <td scope="col">bruises</td>
                    <td scope="col">odor</td>
                    <td scope="col">.....</td>
                    <td scope="col">habitat</td>
                    <td scope="col">class(label)</td>
                </tr>
              
            </tbody>
        </table>
    </div>

</div>


    @code {
        private bool Collapsed = true;
        [Parameter]
        public string Title { get; set; }
    }
