
<div class="alert alert-secondary mt-4" role="alert">
    <h3>Output</h3>
    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-dark text-light" style=" max-height: 250px;">
       
            @if(Outputs?.Any()==true)
            @foreach (var item in Outputs)
            {
                <p>@item</p>
            }

        

    </div>
</div>


@code {


    [Parameter]
    public List<string> Outputs { get; set; }
}
